HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
target
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### REACT ###
.vscode/
frontend/node_modules/*
node_modules/
build
.DS_Store
*.tgz
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
yarn.lock
/src/main/resources/static/static/js/main.2e051a34.chunk.js
/src/main/resources/static/static/js/main.2e051a34.chunk.js.map
/src/main/resources/static/precache-manifest.44b8c6d3573ea6b6903104487c4b7867.js
